<!DOCTYPE html>
 <div class="center hero-unit">
 <h1>Grinnell Connect</h1>
<h2>Just sign up with your Grinnell email and go where Grinnellians go</h2>
<%= link_to "Sign up NOW!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% link_to image_tag("shark.jpg", alt: "Shark"), 'http://http://savannahisamazing.files.wordpress.com/' %>
<img alt="Shark" scr="C:\Sites\dos\app\assets\images" />

